asgiref
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-crispy-forms
django-environ
django-rosetta
idna
oauthlib
Pillow
polib
psycopg2-binary
pycparser
PyJWT
python3-openid
requests
requests-oauthlib
sqlparse
types-cryptography
tzdata
urllib3
