{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicons -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'assets/img/icon.png' %}">

    <!-- ************************* CSS Files ************************* -->

    <link rel="stylesheet" href="{% static 'assets/css/_base.css' %}">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/vendor.css' %}">

    <!-- style css -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">



</head>
{% block content %}

{% endblock content %}
</html>